digraph {
  ranksep=1.5;
  nodesep=0.5;
  ratio=auto;
  overlap=false;
  concentrate=true;
  splines=true;

  node [shape=box, style="rounded,filled", fontname="Helvetica", fontsize=12, width=2.5, height=0.75];

  node [fillcolor="#f0f0f0", color="#666666", fontcolor="#000000", fillcolor="#b2d8ff"];
  edge [fontname="Helvetica", fontsize=10, color="#666666"];

  {% for pacticipant in pacticipants -%}
    "{{ pacticipant.name }}" [label="{{ pacticipant.label }}"];
  {% endfor %}

  {% for integration in integrations -%}
    "{{ integration.consumer.name }}" -> "{{ integration.provider.name }}" [label="{{ integration.protocol }}"];
  {% endfor %}

  legend [shape=none, margin=0, fontsize=8, fillcolor="#ffffff" label=<
    <table border="0" cellborder="1" cellspacing="0">
      <tr>
        <td align="center" bgcolor="lightgray"><b>Legend</b></td>
      </tr>
      <tr>
        <td align="left">consumer ---(protocol)---&gt; provider</td>
      </tr>
    </table>
  >];
}